.navbar {
  transition: all 0.3s ease-in-out;
}

.navbar-brand:hover .brand-text div {
  color: #c71585; /* Soft rose highlight */
  transition: color 0.3s;
}

.nav-link {
  color: #333 !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #524d50 !important;
}

.btn-primary {
  background-color: #433c40;
  border: none;
}

.btn-primary:hover {
  background-color: #453f43;
}
.dropdown-menu {
  position: absolute !important;
  z-index: 1050;
}
